<div class="container m-4">
  <h1>All Tasks</h1>
  <div class="border-bottom mb-3">
    <ul class="list-unstyled">
      <% @tasks.each do |task| %>
        <% if task.completed? %>
          <li><i class="fa-regular fa-square-check"></i> <%= link_to task.title, task_path(task)%> • <i class="fa-regular fa-trash-can"></i></li>
        <% else %>
          <li><i class="fa-regular fa-square"></i> <%= link_to task.title, task_path(task)%> • <i class="fa-regular fa-trash-can"></i></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <p><i class="fa-solid fa-plus"></i> <%= link_to 'Add a task', new_task_path %></p>

</div>
